deb https://packagecloud.io/performancecopilot/pcp/{{ __repository_distro_name }} {{ ansible_distribution_release }} main
deb-src https://packagecloud.io/performancecopilot/pcp/{{ __repository_distro_name }} {{ ansible_distribution_release }} main
