#bintray-pcp-{{ __bintray_distro_name }} - packages by pcp.io from bintray
[bintray-pcp-{{ __bintray_distro_name }}]
name=bintray-pcp-{{ __bintray_distro_name }}
baseurl=https://dl.bintray.com/pcp/{{ __bintray_distro_name }}
gpgcheck=0
repo_gpgcheck=0
enabled=1
