{{ ansible_managed | comment }}
{{ "performancecopilot:ansible-pcp" | comment(prefix="", postfix="") }}
apiVersion: 1

datasources:
- name: PCP Vector
  type: pcp-vector-datasource
  access: proxy
  orgId: 1
  url: http://{{ __grafana_pmproxy_server }}
  editable: true
  isDefault: true
- name: PCP {{ __grafana_keyserver_datasource_name }}
  type: {{ __grafana_keyserver_datasource_type }}
  access: proxy
  orgId: 1
  url: http://{{ __grafana_pmproxy_server }}
  editable: true
- name: PCP bpftrace
  type: pcp-bpftrace-datasource
  access: proxy
  orgId: 1
  url: http://{{ __grafana_pmproxy_server }}
  editable: true
