---
name: Ansible Lint
on:  # yamllint disable-line rule:truthy
  merge_group:
    branches:
      - main
    types:
      - checks_requested
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
jobs:
  ansible_lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v24
